@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300&display=swap');

* {
    cursor: url(../img/Normal_Select.cur), auto;
    font-smooth: 0px;
}

body {
    background-image: url(../img/background-b.jpg);
}

.navbar-title {
    display: flex;
    margin: 10px;
    width: 400px;
    height: 100px;
    border: 2px dashed #ee7e98;
    border-radius: 20px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: 0px 300px;
    align-items: center;
    justify-content: center;
    color: #ee7e98;
    text-shadow: 1px 0px 4px rgb(158, 0, 34);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s;
}

.navbar-title:hover {
    color: #e65879;
    background-position: 0px 295px;
    transition: all 0.5s;
}

.cart {
    display: flex;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #ffe2e9;
    border: 2px dashed #ee7e98;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #ee7e98;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s;
}

.navbar-link {
    text-decoration: none;
}

.navbar-link:visited {
    text-decoration: none;
}

.cart-number {
    border: 1px solid #ee7e98;
    text-align: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;;
}

.cart-items {
    width: 60%;
}

.checkout-section {
    text-align: center;
    width: 20%;
}

.cart-image-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pink-background {
    color: white;
    background-color: #e96382;
}

.main-store {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px dashed #ee7e98;
    background-image: url(../img/background-a.jpg);
}

.main-store h2 {
    margin-top: 10px;
    margin-left: 100px;
    font-family: 'Noto Serif TC';
    color:#e96382;
    text-shadow: 2px 2px 5px rgb(202, 1, 34);
}

.product {
    font-family: 'Noto Serif TC', serif;
    display: flex;
    align-items: center;
    width: 400px;
    margin: 10px;
    border: 2px dashed #ee7e98;
    background-color: #ffbdcd;
    border-radius: 20px;
}

.cart-product {
    font-family: 'Noto Serif TC', serif;
    display: flex;
    align-items: center;
    width: 200px;
    margin: 10px;
    border: 2px dashed #ee7e98;
    background-color: #ffbdcd;
    border-radius: 20px;
}

.product p {
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    text-transform: lowercase;
    color: #e65879
}

.btn-pink {
    background-color: #e65879;
}

.btn-pink:hover {
    background-color: #ee7e98;
}

.btn-pink:active {
    background-color: #ee7e98;
}

.btn-pink:focus {
    background-color: #ee7e98;
}

.btn-outline-pink {
    border: 2px dashed #ee7e98;
}

.dark-mode-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.footer {
    margin-bottom: -20px;
    bottom: 0px;
    background-color: #ffd3e5;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 60%;
    line-height: calc(1);
    padding: 20px;
    color: #e65879;
    font-family: 'Noto Serif TC', serif;
}

.footer-first-section {
    border: 1px dashed #e65879;
    height: 230px;
    width: 50%;
    margin: 10px;
    background-image: url(../img/background-a.jpg);
}

.footer-first-section a {
    cursor: pointer;
    color: #e65879;
    font-style: italic;
    text-decoration: none;
}

.footer-first-section:hover {
    transform: scale(0.99);
}

.footer-second-section {
    border: 1px dashed #e65879;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 50%;
    margin: 10px;
    background-image: url(../img/background-a.jpg);
}

.footer-second-section:hover {
    transform: scale(0.99);
}

.footer-gif {
    height: 120px;
}

.checkout-dialog {
    padding: 50px;
    border-radius: 20px;
    border: 2px dashed #ee7e98;
    background-image: url(../img/background-a.jpg);
}

.checkout-dialog::backdrop {
    background-color: rgba(153, 55, 79, 0.281);
}

.home-toast {
    margin: 20px;
    padding: 10px;
    background-color: #ffbdcd;
    background-image: url(../img/background-b.jpg);
    background-size: cover;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 200px;
    z-index: 10;
    text-shadow: 1px 2px 2px #e65879;
    border: 2px dashed #ee7e98;
    border-radius: 20px;
}

.home-toast::before {
    position: fixed;
    width: 25px;
    height: 25px;
    content: ' ❀ ';
    font-size: 20px;
    right: 10px;
    bottom: 50px;
    color: #e65879;
    background-color: #ffbdcd;
    transform: rotate(45deg);
    text-shadow: none;
}

.home-toast::after {
    position: fixed;
    right: 10px;
    bottom: 90px;
    z-index: -1;
    content: url(../img/toast-deco.webp);
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {

    nav {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-title {
        background-position: 0px 200px;
        width: 80vw;
    }

    .navbar-title:hover {
        background-position: 0px 210px;
    }

    .btn {
        width: 80%;
        margin-bottom: 10px;
    }
    
    .cart-container h2 {
        margin-left: 0px;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .checkout-section {
        text-align: center;
        width: 100%;
    }

    .product {
        margin-left: 10%;
        width: 80%;
    }

    .main-store h2 {
        margin-left: 0px;
    }

    .home-toast {
        display: none;
    }

    .footer-first-section {
        height: inherit;
        width: 100%;
    }

    .footer-second-section {
        height: inherit;
        width: 100%;
    }

}

@media only screen and (max-width: 1200px) {

    .footer-first-section {
        height: 100%;
        width: 100%;
    }

    .footer-second-section {
        height: 100%;
        width: 100%;
    }

}